*{
    margin: 0;
    padding: 0;
}
body{
    background: url('./bg.jpg');
    /* background-color: aqua; */
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:30vw;
    gap:2rem;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 1px 2px 2px 2px black;
}
.container .content form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap:1rem; */
    

}
.container .content form .row{
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:2rem;
    margin-bottom: 1rem;
}
.container .content form .row input{
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
}
.container .content form  .row input::placeholder{
    color:white
}
.container .content form  input[type="submit"]{
    padding: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border-radius: 20px;
    border: none;
    background-color: green;
    color: white;
}
.container .content form  input[type="submit"]:hover{
    padding: 1rem;
    /* margin-bottom: 2rem; */
    /* margin-top: 2rem; */
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
}
@media screen and (max-width:480px) {
    body{
        background-color:blue ;
        overflow: hidden;
    }
    .container .content{
    max-width:100vw;
    width: auto;
    transform: scale(10);
    
    }
    /* .container */
}